In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt;
import warnings;
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('./Insurance.csv')

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
data.shape

(1338, 7)

In [6]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
data.duplicated().sum()

1

In [9]:
### dropping the duplicate

In [10]:
data.drop_duplicates(inplace=True)

In [11]:
data.duplicated().sum()

0

In [12]:
data.describe()

               age          bmi     children       charges
count  1337.000000  1337.000000  1337.000000   1337.000000
mean     39.222139    30.663452     1.095737  13279.121487
std      14.044333     6.100468     1.205571  12110.359656
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.290000     0.000000   4746.344000
50%      39.000000    30.400000     1.000000   9386.161300
75%      51.000000    34.700000     2.000000  16657.717450
max      64.000000    53.130000     5.000000  63770.428010

In [13]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [14]:
### Showing smokers in both sex wrt age

In [15]:
sex_smoker_age=data.groupby(['sex','smoker'])['age'].sum()

In [16]:
sex_smoker_age

sex     smoker
female  no        21711
        yes        4440
male    no        20176
        yes        6113
Name: age, dtype: int64

In [17]:
sex_smoker_age.plot.pie();

In [18]:
### In which region maximum amount of smokers found...?

In [19]:
data_smoker=data.query("smoker=='yes'")

In [20]:
data_smoker.region.value_counts()

southeast    91
northeast    67
southwest    58
northwest    58
Name: region, dtype: int64

In [21]:
### How many males are present below age 18 and are smoker also?,

In [22]:
sex_age_smoker=data.query("age<20 & sex=='male' & smoker=='yes'")

In [23]:
sex_age_smoker.value_counts()

age  sex   bmi     children  smoker  region     charges
18   male  17.290  2         yes     northeast  12829.45510    1
19   male  27.700  0         yes     southwest  16297.84600    1
           36.955  0         yes     northwest  36219.40545    1
           34.900  0         yes     southwest  34828.65400    1
           34.800  0         yes     southwest  34779.61500    1
           31.920  0         yes     northwest  33750.29180    1
           30.250  0         yes     southeast  32548.34050    1
           29.070  0         yes     northwest  17352.68030    1
           26.030  1         yes     northwest  16450.89470    1
18   male  21.565  0         yes     northeast  13747.87235    1
           38.170  0         yes     southeast  36307.79830    1
           33.535  0         yes     northeast  34617.84065    1
           31.730  0         yes     northeast  33732.68670    1
           31.680  2         yes     southeast  34303.16720    1
           27.360  1         yes     northeast  17178.68240    1
           25.175  0         yes     northeast  15518.18025    1
19   male  44.880  0         yes     southeast  39722.74620    1
dtype: int64

In [24]:
### How many males are presnt in north east region and are smoker?

In [25]:
sex_region_smoker= data.query("sex=='male' & region =='northeast' & smoker=='yes'")

In [26]:
sex_region_smoker.value_counts()

age  sex   bmi     children  smoker  region     charges
18   male  17.290  2         yes     northeast  12829.45510    1
50   male  32.300  1         yes     northeast  41919.09700    1
40   male  32.775  1         yes     northeast  39125.33225    1
41   male  30.780  3         yes     northeast  39597.40720    1
42   male  24.605  2         yes     northeast  21259.37795    1
43   male  34.960  1         yes     northeast  41034.22140    1
44   male  31.350  1         yes     northeast  39556.49450    1
45   male  22.895  0         yes     northeast  35069.37452    1
50   male  31.825  0         yes     northeast  41097.16175    1
52   male  24.320  3         yes     northeast  24869.83680    1
18   male  21.565  0         yes     northeast  13747.87235    1
53   male  34.105  0         yes     northeast  43254.41795    1
54   male  40.565  3         yes     northeast  48549.17835    1
55   male  30.685  0         yes     northeast  42303.69215    1
56   male  19.950  0         yes     northeast  22412.64850    1
57   male  28.975  0         yes     northeast  27218.43725    1
59   male  29.830  3         yes     northeast  30184.93670    1
62   male  26.695  0         yes     northeast  28101.33305    1
39   male  29.925  1         yes     northeast  22462.04375    1
           26.410  0         yes     northeast  20149.32290    1
37   male  34.200  1         yes     northeast  39047.28500    1
36   male  41.895  3         yes     northeast  43753.33705    1
18   male  25.175  0         yes     northeast  15518.18025    1
           27.360  1         yes     northeast  17178.68240    1
           31.730  0         yes     northeast  33732.68670    1
           33.535  0         yes     northeast  34617.84065    1
20   male  30.685  0         yes     northeast  33475.81715    1
23   male  31.730  3         yes     northeast  36189.10170    1
24   male  28.500  0         yes     northeast  35147.52848    1
           29.830  0         yes     northeast  18648.42170    1
           31.065  0         yes     northeast  34254.05335    1
29   male  22.895  0         yes     northeast  16138.76205    1
32   male  33.630  1         yes     northeast  37607.52770    1
33   male  24.795  0         yes     northeast  17904.52705    1
35   male  27.740  2         yes     northeast  20984.09360    1
           36.670  1         yes     northeast  39774.27630    1
36   male  28.025  1         yes     northeast  20773.62775    1
62   male  32.015  0         yes     northeast  45710.20785    1
dtype: int64

In [27]:
### How many females are present in southwest region and are smoker and below 25yrs old?

In [28]:
female_sw_smoker= data.query("sex=='female' & region=='southwest' & smoker=='yes' & age<25")

In [29]:
female_sw_smoker.value_counts()

age  sex     bmi   children  smoker  region     charges
19   female  21.7  0         yes     southwest  13844.50600    1
             27.9  0         yes     southwest  16884.92400    1
             28.3  0         yes     southwest  17081.08000    1
             34.7  2         yes     southwest  36397.57600    1
20   female  21.8  0         yes     southwest  20167.33603    1
23   female  31.4  0         yes     southwest  34166.27300    1
dtype: int64

In [30]:
female_sw_smoker

      age     sex   bmi  children smoker     region      charges
0      19  female  27.9         0    yes  southwest  16884.92400
126    19  female  28.3         0    yes  southwest  17081.08000
362    19  female  21.7         0    yes  southwest  13844.50600
1120   23  female  31.4         0    yes  southwest  34166.27300
1231   20  female  21.8         0    yes  southwest  20167.33603
1313   19  female  34.7         2    yes  southwest  36397.57600

 How many mens is present between age 20 and 26 and in region northwest and southwest region and are not smokers

In [31]:
male_nw_sw_nosmoker=data.query("sex=='male' & 20<age<26 & region==['northwest','southwest'] & smoker=='no'")

In [32]:
male_nw_sw_nosmoker

      age   sex     bmi  children smoker     region      charges
12     23  male  34.400         0     no  southwest   1826.84300
28     23  male  17.385         1     no  northwest   2775.19215
137    22  male  25.175         0     no  northwest   2045.68525
212    24  male  28.500         2     no  northwest   3537.70300
274    25  male  27.550         0     no  northwest   2523.16950
294    25  male  26.800         3     no  southwest   3906.12700
413    25  male  23.900         5     no  southwest   5080.09600
452    24  male  23.400         0     no  southwest   1969.61400
477    25  male  35.625         0     no  northwest   2534.39375
506    22  male  31.350         1     no  northwest   2643.26850
507    21  male  23.750         2     no  northwest   3077.09550
631    24  male  29.300         0     no  southwest   1977.81500
693    24  male  23.655         0     no  northwest   2352.96845
751    21  male  28.975         0     no  northwest   1906.35825
761    23  male  35.200         1     no  southwest   2416.95500
787    21  male  36.860         0     no  northwest   1917.31840
802    21  male  22.300         1     no  southwest   2103.08000
817    23  male  37.100         3     no  southwest   3597.59600
840    21  male  31.100         0     no  southwest   1526.31200
880    22  male  34.800         3     no  southwest   3443.06400
881    23  male  27.360         1     no  northwest   2789.05740
884    25  male  26.695         4     no  northwest   4877.98105
888    22  male  39.500         0     no  southwest   1682.59700
910    22  male  28.310         1     no  northwest   2639.04290
957    24  male  26.790         1     no  northwest  12609.88702
1002   24  male  25.800         0     no  southwest   1972.95000
1027   23  male  18.715         0     no  northwest  21595.38229
1072   21  male  31.255         0     no  northwest   1909.52745
1092   23  male  32.700         3     no  southwest   3591.48000
1202   22  male  32.110         0     no  northwest   2055.32490

 To find out the total no of childrens .?

In [34]:
data_region_sum=data.children.sum()
data_region_sum

1465

#Find the no of childrens in northwest region..?

In [47]:
data_nw_children=data.query("region=='northwest'& children>0")
data_nw_children.children.value_counts().sum()

193

Finding total no of childrens?

In [45]:
data_children=data.query("region==['southwest','southeast','northwest','northeast']& children>0")
data_children.children.value_counts().sum()

764